<footer class="footer">
  <div id="contentfootermain">

    <div id="footerphaut">

      <div id="phautone" class="phaut">
        <img src="/tamehgrabyorange.png" id="footerbaspic">
        <div id="social-icons">
          <a href="#"><mat-icon>facebook</mat-icon></a>
          <a href="#"><mat-icon>tiktok</mat-icon></a>
          <a href="#"><mat-icon>mail</mat-icon></a>
        </div>

      </div>

      <div id="phauttwo" class="phaut">
        <h2>À propos</h2>
        <ul>
          <li><a routerLink="/">À propos de Team Night</a></li>
          <li><a routerLink="/packs">Presse</a></li>
          <li><a routerLink="/souvenirs">Nous rejoindre</a></li>
          <li><a routerLink="/contact">Le blog Team Night</a></li>
        </ul>      </div>

      <div id="phautthree" class="phaut">
        <h2>Liens utiles</h2>
        <ul>
          <li><a routerLink="/">Accueil</a></li>
          <li><a routerLink="/packs">Nos packs</a></li>
          <li><a routerLink="/souvenirs">Souvenirs</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>

      </div>
      <div id="phautfoor" class="phaut">
        <h2>Particuliers, entreprises, professionnels</h2>
          <p> Notre service client est ouvert du dimanche au jeudi de 9h à 18h </p>
        <button mat-raised-button routerLink="/login" id="boutonContacter">Contacter</button>




      </div>

    </div>
    <div id="separateurhorizontal">
      <p> </p>
    </div>
    <div id="footerpbas">
    <div id="basone" class="basssone">
      &copy; 2025 TeamNight – Tous droits réservés.
    </div>
    <div id="bastwo" class="basssone">
      <a href="#">Conditions générales</a>

    </div>
    <div id="basthree"  class="basssone">
      <a href="#">Mentions légales</a>

    </div>

    </div>


  </div>
</footer>

