.spacer {
  flex: 1 1 auto;
}
mat-toolbar{
  background-color:#226D68;
  height: 75px;
}
.logo-container {
  display: flex;
  align-items: center;
}

#logo-img {
  height: auto;
  width: 40%;
}
mat-icon{
  color: #FEEAA1;
}



#search-field {
  width: 30%;
  height: 50%;
  border-radius: 23px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  border: none;
}


mat-form-field {
  width: 100%;
  height: 100%;
  padding: 50px;
  margin: 0;
}

.label {
  margin-top: 2px;
  font-size: 11px;
  color: #555;
}
.nav-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4px;
  margin: 5px;
}

.icon-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
  color: #FEEAA1;
  text-align: center;
}

.icon-label mat-icon {
  font-size: 24px;
}
