<div id="pageprincipale">
  <div id="partieDiscription">
  <!-- arrière plan spécial avec une très belle accroche on va mettre les gens dans le contexte et essayer de les convaincres que c'est la
      meilleur solution à prendre pour faire tout en un et plus besoin d'aller gauche à droite et parler avec les gens pour organiser une
      fête ou je ne sais pas quoi .... on va leur parler de codes promos et le système de fidelité et la garantie sur tout les services
      qu'on propose et on va leur dire de créer un compte pour bénéficier de notre système de fideleité ou de remplir le formulaire de contant
      si il veut proposer un service à commercialiser et devenir collaborateur avec nous  parce que la possibilité de devenir colaborateur c'est
      un truc qui va se faire dans le dashbord administratuer c'est qui vont décider si il sera collab ou nous -->
  </div>
  <div id="rowPresentationServicesetLocalisation">
    <div id="Services">
     <!-- faire des fiches descriptives l'une sur l'autre pour chaque services
      avec une photo à coté qui se tourne et nous propose un lein qu'on la survolle
      et on bas de chaque services on va lister les mieux noté de sa catégorie de services
      par exemple si c'est un un dj on va mettre leux photos
      si c'est des yachts bah on va partager leur photo
      si c'est des salles on va partager sur photos et on va bager le nombre de fois où ce service là a été utilisé
      par les acheteurs
        => DJ
         => Gateax
         => Lumières et salle
         => lmakla
         => Enfin tout tout ..... -->
 </div>
    <div id="localisationphysique">
    <!--on va citer tout les endrois où se trouve nous servcices avec une photo de la ville à droite et à gauche un titre une description et la
     localisation exacte -->
    </div>

  </div>
  <div id="parlerDesPackes">
  <!--
      là on va afficher les packes incontournables les plus vendu
      les packs proposés dans les diffréentes localisation qu'on a mis avec possiblité de simuler ton panier toi même
      on va lui ajouter un lien qui va l'emmener à la page de simulation ou il y a le panier et on va bager le nombre de fois
      ou le packs à été vendu -->

  </div>
  <div id="parlerFilActualiteSouvernirs">
  <!--parler des souvenirs et le nombre d'animation déjà faite avec qlq retour de la communauté on peut
    epeingler certains publications déjà mise dans la parties souvenirs avec leurs commentaire chaleureux-->
  </div>
</div>
