mat-form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
}

#encadrement{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

#boutonConecter{
  background-color: #D6955B;
  color: #ECF8F6;
  width: 35%;
}

#inputo{
  height: 20px;
}
